<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>"Books Input"</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="Guilherme Faccinetto" content="SitePoint">

</head>

<body>
  <a href="/">Home</a><br>
  <br><a href="/books">Add Book Summary</a>
  <h4>Enter new name: <%= book %></h4>

  <form action="/add-books" method="POST">
    <input type="text" name="bookTitle"><br>
    <input type="text" name="bookSummary">
    <button type ="submit">Submit</button>
  </form>
        
</body>
</html>
