<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>"Users"</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

</head>

<body>
    <h1>Registered Users</h1><br>
    
    <% for(user of users) { %>
      <p><%= user %></p>
    <% } %>
        
</body>
</html>